@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: black;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

.bg-img {
  height: 100vh;
  background-image: url('bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
  background-color: #fff;
  max-width: 200px;
  width: 100%;
}

.image-credit {
  color: #fff;
  text-align: center;
}

.jump-to-form {
  margin-bottom: 32px;
  font-size: 2rem;
  cursor: pointer;
}

.image-credit p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
}

.form-container {
  min-height: 100vh;
  background-color: #d4d0d0;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 90vh;
    display: flex;
    border: 1px solid blue;
  }

  .bg-img {
    height: 100%;
    width: 30%;
    background-size: contain;
  }

  .image-credit p {
    position: relative;
    bottom: -15vh;
  }

  .image-credit div {
    display: none;
  }

  .form-container {
    min-height: 0;
    height: 100%;
    width: 70%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduced) {
  :root {
    scroll-behavior: auto;
  }
}
